/* 
		file:style.css
*/

* { 
		margin:2px;
		padding:1px;
}


@font-face {
		font-family: "myfont";
		src: url("fonts/Amaranth/Amaranth-Regular.ttf");
}


body { 
		background-color:'white'; 
		font-family: 'myfont';
		/*border:2px solid green;*/
}

input {
		border:1px solid #006;

}



div {
		/*border:2px solid red;*/
}


.header_page {
		background-color:white;
}

.logo {
		display: inline;

}

.login {
		float:right;
}

.members_stuff {
		float:right;
}

.profile_stuff {
		float:right;
}

.main_page_box {
		border: 2px solid gray;
		min-height:225px;
		min-width:300px;
		margin:20px;
		display: inline-block;
}



.main_page_box_join {
		min-height:225px;
		min-width:300px;
		margin:20px;
		display: inline-block;
}

.main_page_box_member {
		min-height:50px;
		min-width:300px;
		margin:20px;
		display: inline-block;
		/*border:2px solid green;*/

}

.member_search {
		min-height:300px;
		min-width:300px; 
		margin:20px;
		display:inline-block;
		/*border:2px solid green;*/

}


.footer {
		color: gray;
		padding:10px;
}
